.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-s);
  background-color: var(--grey-4);
  border-radius: 4px;
  border: none;
  cursor: var(--cursor-pointer), pointer;
  vertical-align: middle;
  outline: none;
  text-decoration: none;

  &:hover {
    background-color: #DBDBDB;
  }

  &:focus {
    background-color: var(--grey-4);
    box-shadow:
      0 0 0 2px hsl(0, 0%, 80%),
      0 0 0 2px hsl(0, 0%, 90%);
  }

  &:disabled {
    background-color: var(--grey-2);
    color: var(--disabled-text-color);
  }

  &__icon {
    width: 2.8rem;
    display: flex;
    justify-content: center;

    @media (max-width: $screen-mobile) {
      padding: var(--space-s);
    }
  }

  &__text {
    line-height: var(--line-height-xl);
  }

  &_text-size {
    &_big {
      .button__text {
        line-height: var(--line-height-xxxl);
      }
    }
  }

  &_type {
    &_default {
      .button__text {
        margin: auto var(--space-xxxxl);
      }
    }

    &_icon {
      .button__text {
        margin-left: calc(var(--space-xxxs) * -1);
        margin-right: var(--space-xl);
      }

      @media (max-width: $screen-mobile) {
        .button__text {
          display: none;
        }
      }
    }
  }

  &_style {
    &_flat {
      background: none;

      &:hover {
        background: none;
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
        background: none;
      }
    }
  }

  &_color {
    &_accent {
      background-color: var(--accent-color);
      &:hover {
        background-color: #F2C200;
      }
    
      &:focus {
        background-color: var(--accent-color);
      }
    }
  }
}
