.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--grey-1);
  font-size: var(--font-size-s);
  color: var(--grey-8);

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include centered;
  }

  &__menu {
    display: flex;
    flex-direction: row;

    & > *:not(:first-child) {
      margin-left: var(--space-xl);
    }
  }

  &__autohor {
    line-height: var(--line-height-m);
  }
}