.icon {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}

.icon-required {
  width: 0.6rem;
  height: 1.8rem;
  background-image: url('../assets/required.svg');
}

.icon-clear {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url('../assets/clear.svg');
}

.icon-settings {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../assets/settings.svg');
}

.icon-play {
  width: 0.9rem;
  height: 1rem;
  background-image: url('../assets/play.svg');
}

.icon-rebuild {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../assets/rebuild.svg');
}

.icon-code-commit {
  width: 1.6rem;
  height: 0.8rem;
  background-image: url('../assets/code-commit.svg');
}

.icon-person {
  width: 1.2rem;
  height: 1.4rem;
  background-image: url('../assets/person.svg');
}

.icon-calendar {
  width: 1.4rem;
  height: 1.6rem;
  background-image: url('../assets/calendar.svg');
}

.icon-timer {
  width: 1.3rem;
  height: 1.6rem;
  background-image: url('../assets/timer.svg');
}