.list {
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    margin-top: var(--space-s);
    @media (max-width: $screen-mobile) {
      flex-direction: column;
    }
  }

  &__menu-item {
    &:not(:first-child) {
      margin-top: var(--space-s);
      @media (max-width: $screen-mobile) {
        margin-left: var(--space-s)
      }
    }
  }

  &__item {
    margin-top: var(--space-s);
  }
}