.center-content {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-style: normal;
  font-weight: normal;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  &_align {
    &_center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  p {
    margin-top: var(--space-xxxxxxl);
    margin-bottom: var(--space-xxxxxl);
    text-align: center;
    width: 26.4rem;
    padding-left: 3rem; //  Костыль, чтобы совпадало с макетом
    padding-right: 3rem; // Костыль, чтобы совпадало с макетом
    font-size: var(--font-size-s);
  }
}