.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  &__container {
    width: 100%;
    flex: 1 0 auto;
    background-color: var(--default-color);
    @include centered;
    margin-bottom: var(--space-xxxl);

    @media (max-width: $screen-mobile) {
      margin-bottom: var(--space-xxl);
    }
  }
}