// внутренние отступы по горизонтали
@mixin padding-horizontal($left, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}

// внутренние отступы по вертикали
@mixin padding-vertical($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}

// внешние отступы по горизонтали
@mixin margin-horizontal($left, $right: $left) {
  margin-left: $left;
  margin-right: $right;
}

// внешние отступы по вертикали
@mixin margin-vertical($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin centered() {
  margin: 0 auto;
  max-width: calc(#{$screen-desktop} - 2 * 100px);
  @media (max-width: $screen-mobile) {
    max-width: calc(#{$screen-mobile} - 2 * 16px);
  }
}